.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    cursor: pointer;
}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.search-input {
    border: none;
    border-bottom: solid 1px gray;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.search-input-container {
    margin-left: 100px;
}

.logo {
    cursor: pointer;
}


.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  @media (max-width: 760px) {
    .hamburger {
      display: block;
    }
  
    .menu-list {
      display: none;
      flex-direction: column;
      position: relative;
      top: -70px;
      left: -170px;
      right: 0;
      background-color: white;
    }
  
    .menu-list.open {
      display: flex;
    }
  
    .menu-list li {
      padding: 10px 0;
    }
  }