.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    cursor: pointer;
}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.search-input {
    border: none;
    border-bottom: solid 1px gray;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
    
}
.card {
  margin-bottom: 20px;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.logo {
    cursor: pointer;
}


@media (max-width: 768px) {

  .search-input-container {
    margin-top: 10px;
  }

  .search-input {
    width: 100%;
  }

  .login-button span {
    display: none;
  }

  .search-input-container svg {
    display: none;
  }
  
}