.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    cursor: pointer;
}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.search-input {
    border: none;
    border-bottom: solid 1px gray;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.search-input-container {
    margin-left: 100px;
}

.logo {
    cursor: pointer;
}